
<!-- 倒计时页面 -->
<div class="act-down-wrap">

    <div class="cut-words-tips-wrap">
     <p>每场砍价均持续10秒</p>
     <p class="js_time_p">本场剩余时间 : <span class="js_time"></span></p>
    </div>

    <img class="need-your-help-tip" src="./images/need-your-help-tip.jpg" alt=""/>
    <!-- 商品图片 -->
    <div class="act-top-bg-wrap">
      <img class="act-top-img" ng-src="{{actTopBgInfo.src}}" alt=""/>
      <div class="goods-info-wrap">
        <p class="price">￥{{actTopBgInfo.price}}</p>
        <div class="help-ta-kill js_help_ta_kill"
             ng-click="onHelpTaKillClick()">
            帮TA砍价</div>
        <div class="now-pay-btn js_now_pay_btn"
               ng-click="onPayClick()">
            立即付款</div>
        <div class="start-kill-again js_start_kill_again"
             ng-click="onStartAgain()">
          重新发起砍价</div>
          <!--<p>发起砍价团</p>-->
          <!--<p>立即付款</p>-->
      </div>
    </div>

   <div class="price-words">
     <p>一共砍掉了 {{randomPrice}} 元</p>
     <p>最终价格 {{actTopBgInfo.price}} 元</p>
   </div>

   <!-- 底部tab切换 -->
   <ul class="tab-wrap-ul">
       <li class="single-tab-li" ng-repeat="tab in tabs" ng-click="onTabClick1(tab)">
           <div class="two-img-wrap" ng-class="{activeShowRed:$index==changeIndex}">
               <img class="tab-img tab-img-orange" ng-src="{{tab.src_orange}}" alt=""/>
               <img class="tab-img tab-img-red" ng-src="{{tab.src_red}}" alt=""/>
           </div>
           <p class="tab-name">{{tab.check_name}}</p>
       </li>
   </ul>
   <!-- 底部切换卡内容：砍价者/其他砍价团/规则声明 -->
   <div class="content-bottom-wrap">
     <!--1.砍架者轮播图-->
     <div class="killer-people-wrap common-content-class {{pageClass}}" ng-if="changeIndex==0">
       <ul class="user-scroll-wrap js_user_scroll_wrap">
         <li class="single-user-li js_single_user_li" ng-repeat="userInfo in userInfos">
           <div class="avatar-wrap">
              <img class="avatar" ng-src="{{userInfo.avatar}}" alt=""/>
           </div>
           <p class="words">
             <span>{{userInfo.name}}:</span>
             一出手砍了 <span>{{userInfo.cut_price}} 元,</span>
             比比谁砍的最多
           </p>
         </li>
           <li class="single-user-li js_single_user_li" ng-repeat="userInfo in userInfos">
               <div class="avatar-wrap">
                   <img class="avatar" ng-src="{{userInfo.avatar}}" alt=""/>
               </div>
               <p class="words">
                   <span>{{userInfo.name}}:</span>
                   一出手砍了 <span>{{userInfo.cut_price}} 元,</span>
                   比比谁砍的最多
               </p>
           </li>
       </ul>
     </div>
     <!--2.其他砍价团-->
     <div class="other-kill-tuan-wrap common-content-class {{pageClass}}" ng-if="changeIndex==1">
        <div class="two-kill-wrap" ng-repeat="twoAct in actBgSrc | filter : actFilterFn">
          <img class="act-img" ng-src="{{twoAct.src}}" alt=""/>
          <div class="start-btn-{{twoAct.src_id}} js_start_btn_{{twoAct.src_id}}"
               ng-click="onStartKillClick(twoAct)">
          </div>
        </div>
     </div>
     <!--3.活动规则-->
     <div class="act-rulers-wrap common-content-class {{pageClass}}" ng-if="changeIndex==2">
         <img class="rule-img" src="./images/activity-declare-img.jpg" alt=""/>
         <img class="rule-img" src="./images/activity-rules-img.jpg" alt=""/>
     </div>
   </div>

   <!-- 弹窗 -->
   <div class="goods-info-mask">
     <h1>这里是弹窗</h1>
   </div>

   <!-- 帮ta砍价成功的弹窗 -->
   <div class="kill-click-success-mask"
        ng-show="isShowSuccessMask"
        ng-click="onCloseMask()">
     <div class="kill-success-mask-bg" ng-click="onStopPropagationClick()">
        <div class="close-btn" ng-click="onCloseMask()"></div>
        <h1>你刚刚砍了<span> {{actTopBgInfo.actName}} </span></h1>
        <h1>砍掉了<span> {{randomPrice}} </span>元</h1>
        <h1>最终价格<span> ￥{{actTopBgInfo.price}} </span></h1>
        <h1 ng-if="leaveCutTime!=0">当前商品还能砍 {{leaveCutTime}} 次</h1>
        <h1 ng-if="leaveCutTime==0">{{actTopBgInfo.actName}}的砍价次数用完</h1>
        <div class="share-friends-btn" ng-click="onShareFriendsClick()">分享给好友</div>
     </div>
   </div>
</div>
