

<h1>我的个人中心</h1>
<h1>我的个人中心</h1>
<h1>我的个人中心</h1>

<!--
<div class="form-group">
    <div class="row">
        <div class="col-md-2 col-md-offset-4">
            <label for="exampleInputEmail1">请输入名字 :</label>
        </div>
        <div class="col-md-4 col-md-offset-0">
            <input type="text" class="form-control"
                   id="exampleInputEmail1" ng-keyup="myKeyup($event)"
                   placeholder="输入用户名" ng-model="selectName">
        </div>
    </div>
</div>
<ul>
  <li ng-repeat="student in students | filter : selectName">
    名字:{{student.name}} , 总分:{{student.totalScore}} , 籍贯:{{student.nativePlace}}
  </li>
</ul>
-->
